<script inline src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script inline src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script inline src="/assets/js/imagesloaded.min.js"></script>
<script inline src="/assets/js/masonry.min.js"></script>
<script inline src="/assets/js/app.js"></script>
{%- if page.gallery -%}
<script>
    var $imagegallery = $('.image-gallery').masonry({
        itemSelector: '.item'
    });

    $imagegallery.imagesLoaded().progress(function () {
        $imagegallery.masonry('layout');
    });
</script>
{%- endif -%}