<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/assets/js/masonry.min.js"></script>
<script src="/assets/js/app.js"></script>
{%- if page.gallery -%}
<script>
    var $imagegallery = $('.image-gallery').masonry({
        itemSelector: '.item'
    });

    $imagegallery.imagesLoaded().progress(function () {
        $imagegallery.masonry('layout');
    });
</script>
{%- endif -%}