@import 'mixins';
@import 'fonts';

:root {
    font-size: 100%;

    @include breakpoint(md) {
        font-size: 125%;
    }

    @include breakpoint(lg) {
        font-size: 150%;
    }

    --max-width: 2000px;
}

html {
    background-color: white;
    font-size: var(--font-size);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.5;
    overflow-x: hidden;
    max-width: var(--max-width);

}

*,
::before,
::after {
    overscroll-behavior: contain;
}

::selection {
    background-color: currentColor;
}

a {
    text-decoration: underline;
    color: inherit;

    &:hover {
        color: #d50f25;
    }
}

strong {
    font-weight: bolder;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: unset;
}

.noise {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/noise.gif');
    background-size: 300px auto;
    background-position: center;
    background-repeat: repeat;
    opacity: .15;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: overlay;
}

@import 'header';


@import 'page-about';
@import 'page-works';


.paragraphs {
    >* {
        &:not(:first-child) {
            margin-top: 1em;
        }
    }
}

section {
    h1 {
        margin-bottom: 1.5rem;
    }
}

footer.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 3rem 1.5rem 1.5rem;

    @include breakpoint(md) {
        justify-content: space-between;
        flex-direction: row;
    }
}

.hero {
    padding: 0 1.5rem;

    .intro {
        &:hover {
            .about {
                opacity: 1;
            }
        }

        span {
            display: inline-block;
        }
    }

    .socials {
        display: flex;

        a {
            &:not(:first-child) {
                margin-left: .5rem;

                @include breakpoint(md) {
                    margin-left: 1.5rem;
                }
            }
        }
    }
}






.hashtags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-left: -.2rem;
    margin-right: -.2rem;

    .hashtag {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .1em .5em;
        border: .1em solid currentColor;
        border-radius: 5em;
        margin: .2em .2em;
        user-select: none;

        &:hover {
            color: #d50f25;
        }

        &:before {
            content: '#';
        }
    }
}



.hover {
    &.hover\:inline {
        display: inline;
        margin: 0;

        .handle {
            display: inline;
        }
    }

    .handle {
        &:hover {
            +.image {
                opacity: 1;
                transition: all .05s ease;
            }
        }
    }

    .image {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        max-width: var(--max-width);
        height: 100%;
        opacity: 0;
        transition: all .05s ease;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    max-width: var(--max-width);
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .2s all ease;
}




.flier {
    pointer-events: none;
}

.flier>* {
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 1s;
    z-index: 999999;
}

@keyframes fly {

    98.001%,
    0% {
        display: block;
        transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
    }

    15% {
        transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
    }

    15.001%,
    18% {
        transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
    }

    40% {
        transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
    }

    40.001%,
    43% {
        transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
    }

    65% {
        transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
    }

    65.001%,
    68% {
        transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
    }

    95% {
        transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
    }
}


.page-home {
    .background {
        background-image: url('/assets/images/home/background.png');
    }
}