@import 'mixins';
@import 'fonts';

:root {
    font-size: 100%;

    @include breakpoint(md) {
        font-size: 125%;
    }

    @include breakpoint(lg) {
        font-size: 150%;
    }
}

html {
    font-size: var(--font-size);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    font-size: 1rem;
    font-family: inherit;
    font-weight: normal;
    line-height: 1.5;
}

*,
::before,
::after {
    background-repeat: no-repeat;
}

::selection {
    background-color: currentColor;
}

a {
    text-decoration: underline;
    color: inherit;

    &:hover {
        color: #d50f25;
    }
}

strong {
    font-weight: bolder;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: unset;
}

.noise {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/noise.gif');
    background-size: 300px auto;
    background-position: center;
    background-repeat: repeat;
    opacity: .2;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: overlay;
}

@import 'header';


@import 'page-about';
@import 'page-works';


.paragraphs {
    >* {
        &:not(:first-child) {
            margin-top: 1em;
        }
    }
}

section {
    h1 {
        margin-bottom: 1.5rem;
    }
}

footer.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 1.5rem;

    @include breakpoint(md) {
        justify-content: space-between;
        flex-direction: row;
    }
}

.hero {
    padding: 0 1.5rem;

    .intro {
        &:hover {
            .about {
                opacity: 1;
            }
        }

        span {
            display: inline-block;
        }
    }

    .socials {
        display: flex;

        a {
            &:not(:first-child) {
                margin-left: .5rem;

                @include breakpoint(md) {
                    margin-left: 1.5rem;
                }
            }
        }
    }
}





.stickers {
    .sticker {
        position: absolute;

        img {
            display: block;
            width: 100%;
            max-width: 8rem;
        }
    }

    &-border {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        user-select: none;
        pointer-events: none;
        overflow: hidden;

        .expander {
            position: absolute;
            top: -4rem;
            left: -4rem;
            right: -4rem;
            bottom: -4rem;
            width: calc(100% + 8rem);
            height: calc(100% + 8rem);
        }
    }
}





.hashtags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-left: -.2rem;
    margin-right: -.2rem;

    .hashtag {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .1em .5em;
        border: .1em solid currentColor;
        border-radius: 5em;
        margin: .2em .2em;
        user-select: none;

        &:hover {
            color: #d50f25;
        }

        &:before {
            content: '#';
        }
    }
}



.hover {
    &.hover\:inline {
        display: inline;
        margin: 0;

        .handle {
            display: inline;
        }
    }

    .handle {
        &:hover {
            +.image {
                opacity: 1;
                transition: all .05s ease;
            }
        }
    }

    .image {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all .05s ease;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}