// CANELA

@font-face {
    font-family: 'Canela';
    src: url('/assets/fonts/Canela/Canela-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canela';
    src: url('/assets/fonts/Canela/Canela-ThinItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}


// INTER

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Inter/inter-v1-vietnamese_latin-regular.eot');
    src: local(''),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-regular.woff2') format('woff2'),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-regular.woff') format('woff'),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-regular.ttf') format('truetype'),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-regular.svg#Inter') format('svg');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/Inter/inter-v1-vietnamese_latin-500.eot');
    src: local(''),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-500.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-500.woff2') format('woff2'),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-500.woff') format('woff'),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-500.ttf') format('truetype'),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-500.svg#Inter') format('svg');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/Inter/inter-v1-vietnamese_latin-700.eot');
    src: local(''),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-700.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-700.woff2') format('woff2'),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-700.woff') format('woff'),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-700.ttf') format('truetype'),
        url('/assets/fonts/Inter/inter-v1-vietnamese_latin-700.svg#Inter') format('svg');
}