// CANELA

@font-face {
    font-family: 'Canela';
    src: url('/assets/fonts/Canela/Canela-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canela';
    src: url('/assets/fonts/Canela/Canela-ThinItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}