header.header {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    .brand {
        display: flex;
        align-items: flex-start;
        text-decoration: none;
        width: max-content;

        .name {
            display: flex;
            font-family: 'Canela';
            font-size: 5rem;
            line-height: 1;
            margin-bottom: -.2em;

            span {
                font-style: italic;
            }
        }

        .tm {
            text-transform: uppercase;
            font-weight: bold;
            font-size: .5rem;
            user-select: none;
        }
    }

    .title {
        display: flex;
        margin-top: .2em;
        margin-bottom: -.2em;
        font-family: 'Canela';
        font-size: 5rem;
        line-height: 1;
    }

    nav {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include breakpoint(md) {
            display: flex;
            flex-direction: row;
            top: 1.5rem;
        }

        a {
            &:not(:first-child) {
                @include breakpoint(md) {
                    margin-left: 1rem;
                }
            }
        }
    }

}

.page-home {
    header.header {
        .brand {
            .name {
                font-size: 7.5rem;
            }
        }
    }
}