header.header {
    position: relative;
    display: flex;
    // flex-direction: column;
    align-items: flex-end;
    padding: 1.5rem;

    .brand {
        display: flex;
        align-items: flex-start;
        text-decoration: none;
        width: max-content;

        .name {
            display: flex;
            font-family: 'Canela';
            font-size: 7.5rem;
            line-height: 1;
            margin-bottom: -.22em;

            span {
                font-style: italic;
            }
        }

        .tm {
            text-transform: uppercase;
            font-weight: bold;
            font-size: .5rem;
            user-select: none;
        }
    }

    .title {
        display: flex;
        margin-top: .2em;
        margin-bottom: -.2em;
        // font-family: 'Canela';
        // font-size: 5rem;
        // line-height: 1;
        font-size: 100%;
        font-weight: 500;
        text-transform: lowercase;

        @include breakpoint(md) {
            font-size: 80%;
        }

        &:before {
            content: '/';
        }

    }

    .nav-toggle {
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 99;
        cursor: pointer;
        display: block;

        @include breakpoint(md) {
            display: none;
        }

        span {
            width: 1.5rem;
            height: .15rem;
            background-color: currentColor;
            display: block;
            margin: .3rem auto;
            transition: all 0.75s ease;
            // transition-delay: .25s;
        }

        +nav {
            position: fixed;
            top: 0;
            left: 100%;
            z-index: 98;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            padding: 1rem 1.5rem;
            background-color: black;
            color: white;
            font-size: 2.5rem;
            line-height: 1;
            transition: all .5s ease;

            a {
                margin-bottom: 1.5rem;
            }

            @include breakpoint(md) {
                position: absolute;
                top: 1.5rem;
                left: unset;
                right: 1.5rem;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                width: auto;
                height: auto;
                flex-direction: row;
                font-size: inherit;
                line-height: inherit;
                background-color: transparent;
                color: inherit;

                a {
                    margin-bottom: unset;
                }
            }
        }

        &.is-active {
            color: white;

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(1) {
                transform: translateY(.45rem) rotate(45deg);
            }

            span:nth-child(3) {
                transform: translateY(-.45rem) rotate(-45deg);
            }


            +nav {
                left: 0;
            }
        }
    }

    nav {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        display: none;
        align-items: flex-end;

        @include breakpoint(md) {
            display: flex;
            top: 1.5rem;
        }

        a {
            &:not(:first-child) {
                @include breakpoint(md) {
                    margin-left: 1rem;
                }
            }
        }
    }

}

// .page-home {
//     header.header {
//         .brand {
//             .name {
//                 font-size: 7.5rem;
//             }
//         }
//     }
// }