.page-shop {
    .background {
        background-image: url('/assets/images/home/background.png');
    }
}

section#shop {
    margin-top: 1rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1.5rem;

    @include breakpoint(md) {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .product {
        .product-image {
            display: block;
            width: 100%;
            padding-bottom: 100%;
            border-radius: .25em;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .product-info {
            margin-top: .5rem;
        }

        .price {
            font-size: .75em;
            opacity: .5;
        }
    }
}