<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if page.url == "/" %}
    <title>{{ site.title }}.</title>
    {% else %}
    <title>{{ site.title }} / {{ page.title }}</title>
    {% endif %}
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/assets/css/tailwind.min.css">
    <link inline rel="stylesheet" href="/assets/css/style.css">

</head>

<body class="page {% if page.id %}page-{{ page.id }}{% endif %}{% if page.slug %}page-{{ page.slug }}{% endif %}">

    <!-- OVERLAY -->
    <div class="noise"></div>
    <div class="html-background"></div>

    <!-- BACKGROUND -->
    <div class="background"></div>

    <!-- CURSOR -->
    <div class="cursor-wrapper">
        <div class="cursor"></div>
    </div>

    <!-- MAIN -->
    {{ content }}

    <!-- JAVASCRIPT -->
    {%- include javascript.html -%}
</body>

</html>