<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if page.url == "/" %}
    <title>{{ site.title }}.</title>
    {% else %}
    <title>{{ site.title }} / {{ page.title }}</title>
    {% endif %}
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/assets/css/tailwind.min.css">
    <link inline rel="stylesheet" href="/assets/css/style.css">

</head>

<body class="page {% if page.id %}page-{{ page.id }}{% endif %}{% if page.slug %}page-{{ page.slug }}{% endif %}">

    <!-- OVERLAY -->
    <div class="noise"></div>
    <div class="html-background"></div>

    <!-- BACKGROUND -->
    <div class="background"></div>

    <!-- CURSOR -->
    <div class="cursor-wrapper">
        <div class="cursor"></div>
    </div>

    <!-- HEADER -->
    <header class="header">
        <a class="brand" href="/">
            <h1 class="name">H<span>ả</span>i</h1>
            <!-- <div class="tm">tm</div> -->
        </a>
        {% if page.url == "/" %}
        {% else %}
        <div class="title">{{ page.title }}</div>
        {% endif %}
        <div class="nav-toggle toggle">
            {% for i in (1..3) %}
            <span></span>
            {% endfor %}
        </div>
        <nav>
            {% for item in site.data.settings.menu_settings.menu_items %}
            <a href="{{ item.url }}">{{ item.title }}</a>
            {% endfor %}
        </nav>

    </header>

    <!-- MAIN -->
    {{ content }}

    <!-- FOOTER -->
    <footer class="footer">
        <div class="hey">Oh, hey! Have a pleasant day. 🙌</div>
        <div class="copyright">&copy; {{site.title}} Last update:
            {{ 'now' | date: "%b %d, %Y" }}
        </div>
    </footer>

    <!-- JAVASCRIPT -->
    {%- include javascript.html -%}
</body>

</html>